nav {
    z-index: 500;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

nav p {
    padding: 10px;
    color: white;
    font-size: 20px;
    font-style: italic;
    text-align: center;
}

nav a {
    padding: 30px;
    color: white;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

nav a:hover {
    background-color: gray;
}